:root {
    --total-black: black;
    --light-black: #1f1f1f;
    --light-black-btn: #363636;
    --blue-ps: #2d64e6;
    --deep-blue: #00439c;
    --dark-blue: #161c3b;
    --orange: #cd3d0f;
    --light-orange: #f5815a;
    --gray: #d9dadc;
    --dark-gray: #bebcbb;

    --twitter: #1da1f3;
    --facebook: #1878f3;
    --youtube: #c5312c;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    font-size: 1.1em;
}

.banner-desc-wrapper {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.banner-desc-wrapper img{
    width: 60%;
}

.banner {
    background-size: cover;
    background-position: center;
}

.banner-title {
    font-size: 2.7em;
}

.banner-desc {
    font-size: 1.2em;
    padding: 0.7em 0;
}

.label{
    display: block;
}

/* top header */
.top_header {
    background-color: var(--total-black);
}
.top_header > img {
    width: 90px;
}

/* bottom header */
.bottom_header {
    font-size: 1.1em;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--total-black);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--blue-ps);
}

/* 100% dropdown menu */
.bottom_header .navbar-nav .dropdown {
    position: static;
}
.bottom_header .navbar-nav .dropdown-menu {
    min-width: 100vw;
    font-size: 1em;
}

.bottom_header .navbar-nav .nav-item .btn-secondary {
    background-color: var(--light-black-btn);
}

.bottom_header .navbar-nav .nav-item .fas.fa-search {
    font-size: 2em;
    cursor: pointer;
}

.bottom_header .sub-link {
    text-align: center;
}
.bottom_header .sub-link .sub-link-item {
    display: inline-block;
    margin-right: 1em;
}
.bottom_header .sub-link .sub-link-item:hover a{
    color: var(--blue-ps);
}


.bottom_header .sub-link .sub-link-item a{
    text-decoration: none;
    color: var(--total-black)
}

.nav-item .search-bar {
    display: flex;
    align-items: center;
    border: none
}
.nav-item .search-bar .search-bar-input{
    border: none;
    width: 80%;
    padding: 1em;
    background-color: transparent;
}
.nav-item .search-bar .fas.fa-search {
    padding: 0.5em;
}



/* jumbotron banner */
.jumbo_top {
    background-image: url(../img/jumbo-bg.png);
    color: white;
}

.jumbo_top .banner-desc-wrapper {
    padding-top: 20rem;
}

.btn_buy {
    background-color: var(--orange);
    color: white;
}
.btn_buy:hover {
    background-color: var(--light-orange);
    color: white;
}

/* jumbotron bottom */

.jumbo_bottom .jumbo-thumbs img{
    width: 100%;
    border-radius: 20px;
}

.jumbo_bottom .jumbo-thumbs:hover {
    border-radius: 20px;
    outline: 5px solid var(--blue-ps);
    outline-offset: 5px;
    cursor: pointer;
}

/* ps5 hardware section */
.ps5-hw-top {
    margin-top: 5em;
}

.ps-motto {
    text-transform: uppercase;
    color: var(--blue-ps);
}

.ps5-hw-top .banner-desc {
    color: gray;
}

.ps5-hw-top .ps5-thumb img{
    width: 100%;
    padding-bottom: 1em;
}

.ps5-hw-bottom .ps5-hw-thumb-wrapper {
    padding-bottom: 1em;
}

.ps5-hw-bottom .ps5-hw-thumb-wrapper img {
    width: 80%;
    opacity: 0.6;
    cursor: pointer;
}
.ps5-hw-bottom .ps5-hw-thumb-wrapper:hover img {
    opacity: 1;
}
.ps5-hw-bottom .ps5-hw-thumb-wrapper:hover {
    border-bottom: 3px solid var(--blue-ps);
    margin-bottom: -3px;
}
.ps5-hw-bottom .ps5-hw-thumb-wrapper:hover .label{
    color: var(--total-black);
}

.ps5-hw-bottom .ps5-hw-thumb-wrapper .label {
    color: gray;
}

/* game banner */
.game {
    color: white;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.banner-desc-wrapper > img {
    /* width: 300px; */
    margin-bottom: 1.5em;
}


/* soon */
.soon {
    background-color: var(--light-black);
    color: white;
}

.soon .soon-thumb-wrapper > img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 20px;
}

.ps4-hw .banner-desc {
    color: gray;
}

.ps4-hw img {
    width: 100%;
}

/* ps plus banner */
.ps-plus {
    background-color: var(--dark-gray);
}

.ps-plus.banner .banner-desc-wrapper {
    width: 100%;
    /* padding: 0 */
}

.btn-light {
    background-color: var(--gray);
    color: var(--blue-ps);
}

.ps-plus-games {
    max-height: 398px;
}

/* store discount */
.ps-store img {
    width: 100%;
}

.ps-store .banner-desc {
    color: gray;
}

/* ps-now */
.ps-now {
    background-color: var(--dark-blue);
}

.ps-now .btn-light {
    background-color: white;
    color: var(--total-black);
}

.ps-now .banner-desc-wrapper {
    width: 100%;
    color: white;
}

.ps-now .ps-now-games {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .bottom_header .navbar-nav .nav-item .btn-secondary {
        width: 50%;
    }

    .nav-item .search-bar {
        border: 1px solid gray;
        margin-top: 1.5em;
    }

}

@media screen and (min-width: 992px) {

    .banner-desc-wrapper {
        width: 40%;
    }
}