:root {
    --total-black: black;
    --light-black: #1f1f1f;
    --light-black-btn: #363636;
    --grey-black-btn: #524e4e;
    --blue-ps: #2d64e6;
    --deep-blue: #00439c;
    --dark-blue: #161c3b;
    --orange: #cd3d0f;
    --light-orange: #f5815a;
    --gray: #d9dadc;
    --dark-gray: #bebcbb;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    font-size: 1em;
    outline: 3px solid transparent;
    outline-offset: -5px;

    transition: all 0.3s;
}
.btn:hover {
    outline: 3px solid white;
    outline-offset: -5px;
}

.sub-title {
    font-size: 2.2em;
    margin-bottom: 0.7em;
}

.minor-title {
    font-size: 1.6em;
    margin-bottom: 0.6em;
}

.banner-desc-wrapper {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.banner-desc-wrapper img{
    width: 60%;
}

.banner {
    background-size: cover;
    background-position: center;
}

.banner-title {
    font-size: 2.7em;
}

.banner-desc {
    font-size: 1.2em;
    padding: 0.7em 0;
}

.label{
    display: block;
}

/* top header */
.top_header {
    background-color: var(--total-black);
}
.top_header > img {
    width: 90px;
}

/* bottom header */
.bottom_header {
    font-size: 1.1em;
}

.bottom_header .bg-light {
    background-color: white!important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--total-black);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
    color: var(--blue-ps);
}

/* 100% dropdown menu */
.bottom_header .navbar-nav .dropdown {
    position: static;
}
.bottom_header .navbar-nav .dropdown-menu {
    min-width: 100%;
    font-size: 1em;
    transform: translate(0, -5px);
}

.bottom_header .navbar-nav .nav-item .btn-secondary {
    background-color: var(--light-black-btn);
}
.bottom_header .navbar-nav .nav-item .btn-secondary:hover {
    background-color: var(--grey-black-btn);
}

.bottom_header .sub-link {
    text-align: center;
}
.bottom_header .sub-link .sub-link-item {
    display: inline-block;
    margin-right: 1em;
}
.bottom_header .dropdown-menu.sub-link > .sub-link-item:hover {
    box-shadow: 2px 2px  5px gray;
}

.bottom_header .sub-link .sub-link-item img{
    width: 5em;
}

.bottom_header .sub-link .sub-link-item a{
    text-decoration: none;
    color: var(--total-black)
}
.bottom_header .sub-link .sub-link-item:hover a{
    color: var(--blue-ps);
}


.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    vertical-align: middle;
    content: "\f078";
    border: 0;
    font-weight: 900;
    font-size: 0.8em;
    font-family: "Font Awesome 6 Free";
    /* border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; */
}
.dropdown-toggle.show::after {
    font-family: "Font Awesome 6 Free";
    content: "\f077";
}

.bottom_header .btn-secondary {
    font-size: 0.8em;
}

.nav-item .search-bar {
    display: flex;
    align-items: center;
    border: none
}
.nav-item .search-bar .search-bar-input{
    border: none;
    width: 80%;
    padding: 1em;
    background-color: transparent;
}
.nav-item .search-bar img {
    width: 3em;
    padding: 0.5em;
    cursor: pointer;
}

/* jumbotron banner */
.jumbo_top {
    background-image: url(../img/jumbo-bg.png);
    color: white;
}

.jumbo_top .banner-desc-wrapper {
    padding-top: 20rem;
}

.btn_buy {
    background-color: var(--orange);
    color: white;
}
.btn_buy:hover {
    background-color: var(--orange);
    color: white;
    outline: 3px solid black;
    outline-offset: -5px;
}

/* jumbotron bottom */

.jumbo_bottom .jumbo-thumbs img{
    width: 100%;
    border-radius: 20px;
}

.jumbo_bottom .jumbo-thumbs:hover {
    cursor: pointer;
}

.jumbo_bottom .jumbo-thumbs {
    transition: all 0.5s;
}
.jumbo_bottom .jumbo-thumbs:hover {
    transform: translate(0, -10px);
}

.jumbo_bottom .jumbo-thumbs.selected {
    outline: 5px solid var(--blue-ps);
    outline-offset: 5px;
    border-radius: 20px;
}


/* ps5 hardware section */
.ps5-hw-top {
    margin-top: 5em;
}

.ps-motto {
    text-transform: uppercase;
    color: var(--blue-ps);
}

.ps5-hw-top .banner-desc {
    color: gray;
}

.ps5-hw-top .ps5-thumb img{
    width: 100%;
    padding-bottom: 1em;
}

.ps5-hw-bottom .ps5-hw-thumb-wrapper {
    padding-bottom: 1em;
}

.ps5-hw-bottom .ps5-hw-thumb-wrapper img {
    width: 80%;
    opacity: 0.6;
    cursor: pointer;
}
.ps5-hw-bottom .ps5-hw-thumb-wrapper:hover img {
    opacity: 1;
}
.ps5-hw-bottom .ps5-hw-thumb-wrapper.selected {
    border-bottom: 3px solid var(--blue-ps);
    margin-bottom: -3px;
}

.ps5-hw-bottom .ps5-hw-thumb-wrapper:hover .label{
    color: var(--total-black);
}

.ps5-hw-bottom .ps5-hw-thumb-wrapper .label {
    color: gray;
}

.btn-primary {
    background-color: var(--blue-ps);
}

/* game banner */
.game {
    color: white;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.banner-desc-wrapper > img {
    /* width: 300px; */
    margin-bottom: 1.5em;
}


/* soon */
.soon {
    background-color: var(--light-black);
    color: white;
}

.soon .soon-thumb-wrapper:hover {
    cursor: pointer;
}

.soon .soon-thumb-wrapper > img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 20px;
}

.ps4-hw .banner-desc {
    color: gray;
}

.ps4-hw img {
    width: 100%;
}

/* ps plus banner */
.ps-plus {
    background-color: var(--dark-gray);
}

.ps-plus.banner .banner-desc-wrapper {
    width: 100%;
    /* padding: 0 */
}

.ps-plus .btn.btn-primary {
    background-color: white;
    border-color: white;
    color: var(--total-black);
}
.ps-plus .btn.btn-primary:hover {
    outline: 3px solid black;
    outline-offset: -5px;
}

/* .btn-light {
    background-color: var(--gray);
    color: var(--blue-ps);
} */

.ps-plus-games {
    max-height: 398px;
}

/* store discount */
.ps-store img {
    width: 100%;
    cursor: pointer;
}

.ps-store .banner-desc {
    color: gray;
}

/* ps-now */
.ps-now {
    background-color: var(--dark-blue);
}

.ps-now .btn.btn-primary {
    background-color: white;
    border-color: white;
    color: var(--total-black);
}
.ps-now .btn.btn-primary:hover {
    outline: 3px solid black;
    outline-offset: -5px;
}

.ps-now .banner-desc-wrapper {
    width: 100%;
    color: white;
}

.ps-now .ps-now-games {
    width: 100%;
}

/* social link */
.social img {
    width: 100%;
    cursor: pointer;
}

/* footer */
footer {
    background-color: var(--deep-blue);
    color: white;
}

.footer-lang {
    width: 20px;
}

.footer img:not(.footer-lang) {
    display: block;
}
footer .ps-footer {
    width: 13%;
}
footer .sie-footer {
    width: 20%;
}

footer .footer-link .footer-link-item {
    list-style-type: none;
    margin-bottom: 0.6em;
}
footer .footer-link .footer-link-item > a {
    color: white;
    text-decoration: none;
}

footer .footer-paragraph {
    margin-top: 1em;
    font-size: 0.8em;
}

footer .footer-paragraph a {
    color: white;
}


@media screen and (max-width: 991px) {
    .bottom_header .navbar-nav .nav-item .btn-secondary {
        width: 50%;
    }

    .nav-item .search-bar {
        border: 1px solid gray;
        margin-top: 1.5em;
    }

}

@media screen and (min-width: 992px) {

    .banner-desc-wrapper {
        width: 40%;
    }
}